<div class="list-group">
    <div class="list-group-item clearfix">
        <span>ToDo List <i class="badge" ng-bind="oCtrl.items.length"></i></span>
        <span ng-click="oCtrl.addItem()">
            <i class="fa fa-plus-circle" title="add task"></i>
        </span>
    </div>
    <a class="list-group-item actions clearfix" ng-repeat="item in oCtrl.items track by $index" href="javascript:;">
        <div class="pull-right text-right col-md-2" ng-click="oCtrl.removeItem($event, $index)">
            <i class="fa fa-minus-circle text-danger" title="remove task"></i>
        </div>
        <span class="col-md-10" ng-click="oCtrl.goDetails(item.id)" ng-bind="item.title"></span>
    </a>
</div>