<div class="navbar navbar-default">
    <a class="navbar-brand" ui-sref="home.overview" href="javascript:;" ng-if="hCtrl.showBackButton()"><< Back</a>
</div>
<div class="well clearfix">
    <div ui-view="overview" class="col-md-5"></div>
    <div ui-view="details" class="col-md-5 pull-right text-center animated-view"></div>
</div>
