<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <title>Karaoke Assistant 0.0</title>
    <link href="bower_components/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="src/style.css" rel="stylesheet" />
</head>
<body>
{{{body}}}

<script type="text/javascript" src="src/source.js"></script>


<script type="text/javascript">
    (function(ng) {
        ng.bootstrap(document.body, ['app']);
    }(window.angular));
</script>
</body>
</html>
