<div class="panel panel-default">
    <div class="panel-heading" style="background-color: #fff;">
        <span class="panel-title" ng-bind="this.task.title"></span>
        <span class="pull-right" ng-bind-html="this.task.icon" title="{{this.task.statusTitle}}"></span>
    </div>
    <div class="panel-body text-left">
        <div ng-bind="this.task.description"></div>
    </div>
    <div class="panel-footer text-right" style="background-color: #fff;">
        <button type="button" class="btn btn-primary btn-sm" ng-click="editCtrl.edit(this.task)">
            <i class="fa fa-edit"> Edit</i>
        </button>
    </div>
</div>