<div tabindex="-1" role="dialog"  aria-hidden="true" style="display: block;color:#444">
    <div class="modal-dialog" style="margin: 0">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close"
                        data-dismiss="modal" ng-click="addCtrl.close()">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <i class="fa fa-plus-square" style="font-size:3em;color:#ccc"></i>
                <h4 class="modal-title">Enter task details</h4>
            </div>
            <div class="modal-body container-fluid">
                <form name="addCtrl.addForm">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-pencil-square-o"></i></div>
                            <input type="text" class="form-control"
                                   name="title" ng-model="addCtrl.task.title"
                                   placeholder="Title" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-tasks"></i></div>
                            <select class="form-control" name="status" ng-model="addCtrl.task.status"
                                    ng-options="status as value.text for (status, value) in addCtrl.statuses" required>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-info"></i></div>
                            <textarea type="password" class="form-control"
                                      name="description" ng-model="addCtrl.task.description"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-s"
                        ng-disabled="addCtrl.addForm.$invalid" ng-click="addCtrl.ok()">
                    <i class="fa fa-check-circle"> Ok</i>
                </button>
                <button type="button" class="btn btn-danger" ng-click="addCtrl.close()">
                    <i class="fa fa-times-circle"> Dismiss</i>
                </button>
            </div>
        </div>
    </div>
</div>